<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Ionic Crud-Todos
    </ion-title>
    <ion-buttons slot="secondary">
     
      <ion-input placeholder="Enter Input" [(ngModel)]="someString"></ion-input>
      
      <ion-button  (click) ="filtrar()" >filtrar</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- <ion-content> -->
  <ul>
    <li *ngFor="let item of lstTareas ">
      {{ item | json }}
    </li>
  </ul>

  <ion-list>
    <ng-container *ngIf="!todos || todos.length === 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item lines="inset" button [routerLink]="['/todo-details', todo.id]">
        <ion-label>
          {{ todo.task }}
        </ion-label>
        <ion-note slot="end" color="primary">{{ todo.priority }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/todo-details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>I am just getting started</ion-card-subtitle>
      <ion-card-title>Welcome to My World</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>I can modify my app as I like, muhahahahaha !</p>
      <br>

      <table>
        <tr *ngFor="let item of nums;let indice=index">
          <td> {{indice+1}}   -- {{item}}</td>
        </tr>
      </table>
      <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
            href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
    </ion-card-content>
  </ion-card> -->